.link {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: $white;
    transition: all 0.15s ease-in-out;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
    }

    &:hover {
        opacity: 0.75;
    }

    &--top {
        @media (min-width: 400px) {
            margin-right: 3rem;
        }
    }
}
